{% extends 'navigation/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Select Available Parking Slot</h2>
  <form method="POST" class="mb-4">
    {% csrf_token %}
    {% for slot in available_slots %}
      <button name="slot" value="{{ slot }}" class="btn {% if slot == selected_slot %}btn-success{% else %}btn-outline-secondary{% endif %}">
        {{ slot }}
      </button>
    {% endfor %}
  </form>

  <div class="card">
  {% if graphic %}
        <div class="card-body text-center">
            <div class="overflow-auto">
                <img src="data:image/png;base64,{{ graphic }}" 
                     class="img-fluid"
                     style="width:50%; height:1000px;"
                     alt="Parking Lot Map">
            </div>
        </div>
    {% endif %}
    <a href="{% url 'user_settings' %}" class="btn btn-secondary mt-3">User Settings</a>
</div>
{% endblock %}
